.div {
  padding-top: 80px;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.div-2 {
  color: #000;
  text-align: center;
  letter-spacing: -0.24px;
  margin-top: 40px;
  font: 600 24px 'Inter', sans-serif;
}

.div-3,
.div-4,
.div-5 {
  width: 90%;
  max-width: 400px;
  margin-top: 16px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.div-3,
.div-4 {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 8px;
  background-color: #fff;
  color: #828282;
}

.div-5 {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.div-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 90%;
  max-width: 400px;
  gap: 8px;
  font-size: 16px;
  color: #333131;
  font-weight: 400;
  text-align: center;
}

.div-7,
.div-9 {
  background-color: #e6e6e6;
  flex: 1;
  height: 1px;
}

.div-8 {
  font-family: 'Inter', sans-serif;
}

.div-10 {
  background-color: #594a47;
  width: 100%;
  min-height: 275px;
  border-radius: 50px 50px 0 0;
  margin-top: 40px;
}

@media (min-width: 992px) {
  .div {
    padding-top: 120px;
  }

  .div-2 {
    margin-top: 100px;
  }

  .div-10 {
    margin-top: 80px;
  }
}

.alert{
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}